@inherits LayoutComponentBase
<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
@*         <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<footer class="bg-light text-center text-lg-start">
    <div class="container p-4 pb-0">
        <!-- Other footer content can go here if needed -->
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Tony Bierman. All rights reserved.
    </div>
</footer>