@using DeerskinSimulation.Models

@code {
    [Parameter] public EventRecord Message { get; set; }
}

<div class="d-flex align-items-center mb-3">
    <div class="flex-shrink-0">
        <img src="@Message.Image" alt="Event Image" width="40" />
    </div>
    <div class="flex-grow-1 ms-3" style="color:@Message.Color">
        @Message.Message
    </div>
</div>
