@page "/"
@using DeerskinSimulation.Models
@implements IDisposable
@inject StateContainer StateContainer

<h3>Welcome to the Deerskin Simulation</h3>

<button @onclick="NavigateToSimulation">Start Simulation</button>

@code {
    [Inject]
    private NavigationManager Navigation { get; set; }

    private void NavigateToSimulation()
    {
        StateContainer.Debug = false;

        Navigation.NavigateTo("/simulation");
    }
}

@code {
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
