@using DeerskinSimulation.Resources
@using DeerskinSimulation.ViewModels
@using DeerskinSimulation.Models
@using DeerskinSimulation.Components
@inject IJSRuntime JS

@code {
    [Parameter] public List<EventResult> Events { get; set; }

    private MessageConsoleViewModel viewModel = new MessageConsoleViewModel();
}

<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-header">
            <h4>@UIStr.MessagesTitle</h4>
        </div>
        <div class="card-body">
            <div id="console" style="height: 200px; overflow-y: scroll; border: 1px solid #8b4513; padding: 10px;">
                @if (Events?.Any() == true)
                {
                    int? last = null;
                    @foreach (var e in Events.Reverse<EventResult>())
                    {
                        @foreach (var msg in e.Records.Reverse<EventRecord>())
                        {
                            <MessageConsoleLineItem Message="msg" />
                        }
                    }
                }
                else
                {
                    <p>@UIStr.NoMessagesLabel</p>
                }
            </div>
        </div>
    </div>
</div>
