@using DeerskinSimulation.Models
@using DeerskinSimulation.Resources
@using DeerskinSimulation.ViewModels

@code {
    [Parameter] public Story FeaturedStory { get; set; }

    private StoryConsoleViewModel viewModel = new StoryConsoleViewModel();
}

<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-header">
            <h4>@UIStr.ImageTitle</h4>
        </div>
        <div class="card-body">
            <figure class="text-center">
                <img class="img-fluid" src="@(FeaturedStory?.Record?.Image ?? "images/ph_256.jpg")" alt="Event Image" width="256" />
                <figcaption class="mt-2">@(FeaturedStory?.Record?.Title ?? Strings.DefaultTitle)</figcaption>
            </figure>
            <p>
                @(FeaturedStory?.Record?.Message ?? Strings.DefaultStory)
            </p>
        </div>
    </div>
</div>